@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.socialMedia{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: 0.5s;
}
.sci{
    position: relative;
    display: flex;
}
.sci li{
    list-style: none;
}
.sci li::before{
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 120px));
    font-size: 14vw;
    pointer-events: none;
    font-weight: 700;
    transition: 0.5s;
    opacity: 0;
}
.sci li:hover::before{
    opacity: 0.1;
    transform: translate(-50%,calc(-50% + 180px));
}
.sci li a{
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    border-radius: 10px;
    text-decoration: none;
    margin: 20px;
    font-size: 4em;
    transform-style: preserve-3d;
    perspective: 500px;
    box-shadow: 0 25px 35px rgba(0,0,0,0.1);
    transition: background 0.25s;

}
.js-tilt-glare{
    border-radius: 10px;
}
.sci li a:hover.facebook
{
    background: #1877f2;
}
.sci li a:hover.youtube
{
    background: #ff0000;
}
.sci li a:hover.telegram
{
    background: #1874cd;
}
.sci li a:hover.linkedin
{
    background: #00bfff;
}
.sci li a .fa{
    transition: 0.25s;
    pointer-events: none;

}
.sci li a:hover .fa{
    color:#fff;
    transform: scale(1.50) translateZ(50px);
}